now playing PIANO DIRECTIVE
<div id="p-wrapper">
	<ul id="piano">
		<li ng-click="play(65)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(83)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(68)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(87)"><div class="anchor"></div></li>
		<li ng-click="play(70)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(71)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(69)"><div class="anchor"></div></li>
		<li ng-click="play(72)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(82)"><div class="anchor"></div></li>
		<li ng-click="play(74)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(75)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(76)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(84)"><div class="anchor"></div></li>
		<li ng-click="play(186)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(79)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(89)"><div class="anchor"></div></li>
		<li ng-click="play(80)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(219)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(221)"><div class="anchor"></div><span></span></li>
		<li ng-click="play(85)"><div class="anchor"></div></li>
		<!-- <li><div class="anchor"></div><span></span></li> -->
		<!-- <li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div><span></span></li>
		<li><div class="anchor"></div></li> -->
	</ul>
</div>