<div class="page">
    <div class="wrapper">

        <div class="content-wrapper">
            <div class="content">
                <h1>Content</h1>
                <p>&larr; Responsive Width &rarr;</p>

                <div>HELLO I am {{currentUser}} and I'm playing {{instrument}}</div>

                <mb-piano ng-if="instrument === 'piano'" keyboard="playNote"></mb-piano>

                <mb-drum ng-if="instrument === 'drum'" keyboard="playNote"></mb-drum>

                <mb-violin ng-if="instrument === 'violin'" keyboard="playNote"></mb-violin>

                <mb-guitar ng-if="instrument === 'guitar'" keyboard="playNote"></mb-guitar>

            </div>
        </div>

        <div class="sidebar">
            <h1>Users</h1>
            <ul ng-repeat="user in users track by $index">
                <li>
                    <span>{{user.name}}</span>
                    <img src="../../assets/{{user.instrument}}.jpg">
                </li>
            </ul>
        </div>

    </div>
</div>