<div class="container">
    <h1>Interactive Music Studio</h1>
    <div class="music-form">
        <form>
            <div class="username">
                <label>Enter your name:</label>
                <input type="text" ng-model="userName"/>
            </div>

            <div class="instrument">
                <label>And pick up an instrument:</label>
                <ul>
                    <li ng-click="play('piano')">
                        <img src="../../assets/piano.png">
                    </li>
                    <li ng-click="play('guitar')">
                        <img src="../../assets/guitar.png">
                    </li>
                    <li ng-click="play('drum')">
                        <img src="../../assets/drum.png">
                    </li>
                    <li ng-click="play('violin')">
                        <img src="../../assets/violin.png">
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>