<div class="container">
    <h1>Web sockets musical band</h1>
    <div class="music-form">
        <form>
            <div class="username">
                <label>Enter your name:</label>
                <input type="text" ng-model="userName"/>
            </div>

            <div class="instrument">
                <label>And pick up an instrument:</label>
                <ul>
                    <li ng-click="play('piano')">piano</li>
                    <li ng-click="play('quitar')">guitar</li>
                    <li ng-click="play('drum')">drum</li>
                    <li ng-click="play('violin')">violin</li>
                </ul>
            </div>
        </form>
    </div>
</div>